/* Elements */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 0;
}

p {
    margin: 0 0;
    padding: 0px 2px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0 0;
}

h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    align-items: center;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;
}

li {
    list-style-type: none;
}

button {
    background-color: #3882F6;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px 20px;
    color: #F9FAF8;
    font-weight: bold;
    height: 40px;
    width: 100px;
}

footer {
    padding: 40px;
}

/* Classes */
.secondary-link {
    font-size: 18px;
    color: #E5E7EB;
    align-content: center;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 20px;
    align-content: center;
    flex-shrink: 0;
    width: 150px;
}

.hero {
    background-color: #1F2937;
}

.menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 100px;
}

.awesome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 100px;
    gap: 20px;
}

.awesomeparttwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 20px;
    gap: 10px;
}

.awesome-image {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    flex-shrink: 0;
    flex-basis: 0;
    min-width: 500px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.information-images {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
}

.imagetext {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.imagetextinternal {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    align-items: center;
    gap: 20px;
}

.img-rounded {
    border-radius: 10px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.join {
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    gap: 10px;
    color: #F9FAF8;
    padding: 50px 100px;
    margin: 100px 150px;
    border-radius: 10px;
}

.join-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.join-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
}

/* Identifiers */

#credit {
    color: #F9FAF8;
}

#bold {
    font-weight: bold;
}

#quotefrom {
    align-self: flex-end;
    font-weight: bold;
    font-style: normal;
}

#sign-up-header-button {
    border: none;
}